<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.xindong.lastcrown</key>
		<string>XDMagicp</string>
	</dict>
	<key>teamID</key>
	<string>XF28F2YCJQ</string>
	<key>method</key>
	<string>development</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
